<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add a New Book</title>
</head>
<body>
<h1>Add a New Book</h1>
<form method="POST" action="/addBook">
<div>
	<label>Book ID</label>
	<input type="text" id="bookId" name="bookId">
</div>
<div>
	<label>제 목  </label>
	<input type="text" id="title" name="title">
</div>
<div>
	<label>저 자  </label>
	<input type="text" id="author" name="author">
</div>
<div>
	<label>출판사</label>
	<input type="text" id="publisher" name="publisher">
</div>
<div>
	<label>출판일</label>
	<input type="text" id="releaseDate" name="releaseDate">
</div>
<div>
	<label>ISBN </label>
	<input type="text" id="isbn" name="isbn">	
</div>
<div>
	<p><br></p>
	<input type="submit" id="addNew" value="Submit">
</div>
</form>
<p><br></p>
<p><a href="/">Main</a></p>
</body>
</html>